body {
  font-family: arial, sans-serif;
  padding: 5%;
}
.Weather {
  border: 1px solid grey;
  background: linear-gradient(
    89.9deg,
    rgb(208, 246, 255) 0.1%,
    rgb(255, 237, 237) 47.9%,
    rgb(255, 255, 231) 100.2%
  );
  padding: 16px;
  margin: 20px auto;
  border-radius: 5px;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather h1 {
  color: rgb(44, 72, 150);
  font-size: 35px;
  text-align: start;
  margin: 20px 0 0 0;
}
.Weather ul {
  margin: 0;
  color: rgb(66, 78, 107);
}
.Weather li {
  font-size: 20px;
  list-style-type: none;
}
.temperature {
  color: rgb(46, 64, 107);
  font-weight: bold;
  font-size: 45px;
}
.Weather canvas {
  height: 64px;
  float: left;
}
.unit {
  color: rgb(55, 82, 143);
  position: relative;
  top: -20px;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
}
.cloth {
  max-width: 60px;
  max-height: 70px;
}
